// vars
$lightgrey: #727272;
$grey: #414141;
$white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

// layout
@import "_misc/normalize";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "sections/wrapper";
@import "sections/welcome";
@import "sections/header";
@import "sections/sidebar";
@import "sections/about";
@import "sections/footer";