.about {
  @extend %clearfix;
}

.about__left {
	float: left;
	width: 300px;
}

.about__pic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  margin: 24px auto;
}

.user__pic-img {
	width: 100%;
}

.about__right {
	float: right;
	width: 400px;
}

.title {
  font-size: 35px;
  color: $grey;
  margin: 34px 20px 24px;
  @include fira(medium);
}

.about__desc {
  height: 300px;
  margin: 0 0 50px 20px;
  overflow: auto;
  @include fira(light);
}

.about__desc {
  p {
    font-size: 18px;
    margin: 0 0 15px 0;
    color: #646464;
  }
}

.btns {
  float: right;
  margin: 0 0 106px 0;
}

.btn__link {
  font: bold 14px sans-serif;
  color: $red;
  border: 2px solid $red;
  border-radius: 50px;
  padding: 10px 10px;

  &:hover {
    color: #fff;
    background: $red;

  }
}

.btn__link--download {
  &:before {
    font-family: 'FontAwesome';
    content: "\f019";
    margin: 0 9px 0 0;
  }
}