.about {
  @extend %clearfix;
}

.about__left {
	float: left;
	width: rem(300px);

  @include laptop {
    width: rem(200px);
  }

  @include phones {
    float: none;
    margin: 0 auto rem(20px);
  }
}

.about__pic {
  width: rem(220px);
  height: rem(220px);
  overflow: hidden;
  border: 5px solid #fff;
  margin: 0 auto;
  @include border-radius(50%);

  @include laptop {
    width: rem(160px);
    height: rem(160px);
  }

  @include phones {
    width: rem(150px);
    height: rem(150px);
  }
}

.user__pic-img {
	width: 100%;
}

.about__right {
	float: right;
	width: rem(400px);
  padding: rem(9px) 0 0 0;

  @include laptop {
    width: rem(320px);
  }

  @include tablets {
    width: rem(300px);
  }

  @include phones {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}

.about__content {
  padding: 0 0 0 rem(20px);

  @include tablets {
    padding: 0 0 0 rem(10px);
  }

  @include phones {
    padding: 0;
  }
}

.about__desc {
  height: rem(300px);
  margin: 0 0 rem(43px) 0;
  overflow: auto;
  @include fira(light);

  @include phones {
    height: auto;
    font-size: rem(16px);
    margin: 0 0 rem(20px) 0;
    overflow: visible;
  }
}

.about__desc {
  p {
    font-size: rem(18px);
    margin: 0 0 rem(15px) 0;
    color: #646464;

    &:last-child {
      margin: 0;
    }
  }
}

.btns {
  float: right;
  margin: 0 0 rem(106px) 0;
  border: 2px solid $red;
  padding: rem(6px) rem(16px);
  @include border-radius(50px);

  &:hover {
    color: #fff;
    background: $red;

    .btn__link {
      color: #fff;
    }
  }

  @include phones {
    float: none;
    width: rem(130px);
    text-align: center; 
    margin: 0 auto rem(30px);
  }
}

.btn__link {
  font-size: rem(14px);
  color: $red;
  @include fira(bold);
}

.btn__link--download {
  &:before {
    font-family: 'FontAwesome';
    content: "\f019";
    margin: 0 rem(9px) 0 0;
  }
}