.career {
	@extend %clearfix;
}

.career__left {
	float: left;
}

.career__pic {
  width: rem(220px);
  height: rem(220px);
  border-radius: rem(10px);
  overflow: hidden;
  margin: 0 auto;
}

.career__pic-img {
	width: 100%;
}

.career__right {
	float: right;
	width: rem(380px);
}

.career__item {
	text-align: right;
	margin: 0 0 rem(18px) 0;
	font-size: rem(18px);
	cursor: pointer;

	&:first-child {
		.career__block {
			&:before {
				display: none;
			}
		}
	}

	&:last-child {
		.career__block {
			&:after {
				display: none;
			}
		}
	}
}


.career__block {
	font-size: rem(20px);
	padding: rem(14px) rem(20px) rem(14px) rem(20px);
	background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
	border-radius: 10px;
	position: relative;
	text-align: left;
	color: $lightgrey;

	&:before, &:after {
		content: "";
		display: block;
		width: rem(1px);
		background: #ddd;
		position: absolute;
		left: rem(-23px);
	}

	&:before {
		top: 0;
		bottom: 50%;
		margin-bottom: rem(10px);
	}

		&:after {
		top: 50%;
		bottom: rem(-22px);
		margin-top: rem(10px);
	}

	&:hover {
		background: $blue;
		color: #fff;

		.career__yars {
				font-size: rem(18px);
				color: $blue;
		}

		.career__yars {
			&:after {
				border: 5px solid #94e0f2;
			}
		}
	}
}

.career__title {
	margin: 0 0 rem(3px) 0;
	@include fira(medium);
}

.career__jobs {
	margin: 0 0 rem(3px) 0;
	@include fira();
}

.career__date {
	margin: 0 0 rem(3px) 0;
	@include fira();
}

.career__yars {
	position: absolute;
	font-size: rem(14px);
	right: 100%;
	top: 50%;
	line-height: rem(30px); /* задаём высоту блока */
	margin: rem(-15px) rem(33px) 0 0; /* половина высоты line-height */
	padding: 0 rem(5px) 0 0;
	@include fira();

	&:after {
		content: "";
		width: rem(10px);
		height: rem(10px);
		background: $blue;
		border: 5px solid $white;
		border-radius: 50%;
		position: absolute;
		right: rem(-21px);
		top: 50%;
		margin: rem(-10px) 0 0 0;
		z-index: 1;
	}
}