.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	height: auto!important;
	@extend %clearfix;
}

.wrapper:after {
	content: "";
	height: rem(50px);
	display: block;
}

.content {
	@extend %clearfix;
}

.container {
	margin: 0 auto;
	@extend %clearfix;
	max-width: rem(1000px);
}

.main {
  width: rem(700px);
  float: right;
  padding: rem(9px) 0 0 0;

	@include laptop {
		width: rem(550px);
	}

	@include tablets {
		width: 100%;
		float: none;
	}
}

.main--portfolio {
	@include laptop {
		width: rem(550px);
	}

	@include tablets {
		width: 100%;
		float: none;
	}
}

.title {
  font-size: rem(35px);
  color: $grey;
  margin: 0 0 rem(32px) 0;
  @include fira(medium);
}

.title--about {
  margin: rem(9px) 0 rem(24px) 0;
}