.footer {
	position: relative;
	// min-width: 960px;
	height: rem(50px);
	background: $grey;
	color: #9c9c9c;
	margin-top: rem(-50px);
	@extend %clearfix;
}

.footer__left {
	float: left;
}

.copyright {
	margin: rem(14px) 0 0 0;
	font-size: rem(14px);
	@include fira(light);
}

.footer__right {
	float: right;
}

.socials {
	margin: 10px 0 0 0;
	min-width: 110px;
}

.socials__item {
	@include inlineblock(middle);
	height: 32px;
	width: 32px;
	margin: 0 0 0 2px;
}

.socials__item:first-child {
	margin: 0;
}

.socials__link {
	display: block;
	text-indent: -9999px;
	height: 100%;
	width: 100%;
}

@each $social in (fb, vk, gh) {
	.socials__link--#{$social} {
		background: url('/img/icons/#{$social}.png') 0 0 no-repeat;
		
		&:hover {
			background: url('/img/icons/#{$social}-hover.png') 0 0 no-repeat;
		}
	}
}
