.header	{
	height: rem(80px);
	background: #fff;
	margin: 0 0 rem(25px) 0;
	@extend %clearfix;
	@include box-shadow(0 1px 3px rgba(#000, .2));
}

.header__left {
	float: left;
}

.user {
	margin: rem(8px) 0 0 0;
}

.user__link {
	display: block;
}

.user__avatar {
  width: rem(60px);
  height: rem(60px);
  border-radius: 50%;
  border: 1px solid #bebebe;
  // @include border-radius 50%;
  overflow: hidden;
  @include inlineblock(middle);
}

.user__avatar-img {
	width: 100%;
}

.user__username {
	color: $grey;
	margin: rem(6px) 0 0 rem(13px);
	@include inlineblock(middle);
}

.user__username-text {
	color: $grey;
	font-size: rem(18px);
	@include fira();
}

.header__right {
	float: right;
}

.contacts {
	margin: rem(30px) 0 0 0;
	position: relative;

	&:hover {
		.contacts__link {
			color: $red;
			background: url('/img/decor/dotted-hover.png') 0 bottom repeat-x;
		}
		.contacts__dropdown {
			visibility: visible;
		}
	}
}

.contacts__link {
	font-size: rem(18px);
	color: $blue;
	background: url('/img/decor/dotted.png') 0 bottom repeat-x;
  @include fira(bold);
}

.contacts__dropdown {
	display: block;
	visibility: hidden;
	position: absolute;
	top: rem(40px);
	right: 0;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 10px;
	text-align: left;
	z-index: 1;

	&:before {
		content: "";
    position: absolute;
    bottom: 100%;
    left: 58%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom: rem(14px) solid #dedede;
	}   

		&:after {
		content: "";
		z-index: 1;
    position: absolute;
    bottom: 99%;
    left: 58%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom: rem(14px) solid #fff;
	}
}

.dropdown__item {
	padding: rem(8px) 0;
	border-top: 1px solid #eee;	
	
	&:first-child{
		border-top: none;	
	}
}

.dropdown__link {
	color: $grey;
	font-size: rem(18px);
  display: block;
	padding: 0 rem(10px) 0 rem(48px);
	@include fira(light);

}

@each $contact in (ml, tf, sk) {
	.dropdown__item--#{$contact} {
		background: url('/img/contacts/#{$contact}.png') 0 0 no-repeat;
		background-position: rem(20px) rem(12px);
	}
}