.header	{
	min-width: 960px;
	padding: 9px 0;
	background: #fff;
	@include box-shadow(0 1px 3px rgba(#000, .2));
	@extend %clearfix;
}

.header__left, .header__right {
	float: left;
	width: 50%;
}

.user__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #bebebe;
  // @include border-radius 50%;
  overflow: hidden;
  @include inlineblock(middle);
}

.user__avatar-img {
	width: 100%;
}

.user__username {
	color: $grey;
	margin: 6px 0 0 13px;
	@include inlineblock(middle);
}

.user__username-text {
	color: $grey;
	font-size: 18px;
	@include fira();
}

.contacts {
	margin: 21px 0 0 0;
	text-align: right;
}

.contacts__link {
	font-size: 18px;
	color: $blue;
	background: url('/img/decor/dotted.png') 0 bottom repeat-x;
  @include fira(bold);

	&:hover {
		color: $red;
		background: url('/img/decor/dotted-hover.png') 0 bottom repeat-x;

		.contacts__dropdown {
			visibility:visible;
		}
	}
}

.contacts__dropdown {
	position: absolute;
	display: none;
	float: right;
	width: 191px;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 10px;
	text-align: left;
}

.dropdown__item {
	padding: 8px 0;
	border-top: 1px solid #eee;	
}

.dropdown__item:first-child{
	border-top: none;	
}

.dropdown__link {
	color: $grey;
}
