.portfolio__list {
	margin: 0 0 0 rem(-20px);
	font-size: 0;

  	@include tablets {
		margin: 0 0 0 rem(-16px);
	}

	@include phones {
		margin: 0 auto;
	}
}

.portfolio__item {
	width: rem(220px);
	margin: 0 0 rem(20px) rem(20px);
	@include inlineblock();

	* {
		font-size: rem(14px);
	}

	@include laptop {
		width: rem(170px);
		margin: 0 0 rem(20px) rem(20px);
	}

	@include tablets {
		width: rem(238px);
		margin: 0 0 rem(20px) rem(20px);
	}

	@include phones {
		display: block;
		width: rem(300px);
		margin: 0 auto rem(20px);
	}
}

.portfolio__link {
	display: block;
	background: #fff;
	@include border-radius(10px);
	@include box-shadow(0 1px 3px rgba(#000, .2));

	&:hover {
		@include box-shadow(0 4px 8px rgba(#000, .2));
		.portfolio__sait {
			h3{
				color: $red;
			}
		}
	}
}

.portfolio__img-pic {
	display: block;
	width: 100%;
	@include border-radius(10px 10px 0 0);
}

.portfolio__desc {
	padding: rem(20px) 0 rem(18px) rem(20px);

	@include laptop {
		padding: rem(14px) 0 rem(14px) rem(14px);
	}

	@include tablets {
		padding: rem(14px) 0 rem(14px) rem(14px);
	}

	@include phones {
		padding: rem(20px) 0 rem(18px) rem(20px);
	}
}

.portfolio__sait {
	h3 {
		font-size: rem(21px);
		color: $blue;
		@include fira();

		@include phones {
			font-size: rem(24px);
		}
	}
}

.portfolio__text {
	p {
		font-size: rem(14px);
    	margin: 0 0 rem(7px) 0;
		color: $grey;
		@include fira(light);

		@include phones {
			font-size: rem(16px);
		}
	}
}

.portfolio__type {
	font-size: rem(14px);
	color: #aeaeae;
	@include fira(medium);

	@include laptop {
		font-size: rem(12px);
	}

	@include tablets {
		font-size: rem(14px);
	}

	@include phones {
		font-size: rem(16px);
	}
}

.portfolio__type_icon {
  margin: 0 rem(3px) 0 0;
  font-size: rem(18px);

	@include laptop {
		font-size: rem(14px);
	}

	@include tablets {
		font-size: rem(14px);
	}

	@include phones {
		font-size: rem(18px);
	}
}