.portfolio__list {
  margin: 0 0 0 rem(-20px);
  font-size: 0;
}

.portfolio__item {
	width: rem(220px);
	margin: 0 0 rem(20px) rem(20px);
	@include inlineblock();

	* {
		font-size: rem(14px);
	}

	@include laptop {
		width: rem(170px);
		margin: 0 0 rem(20px) rem(20px);
	}

	@include tablets {
		width: rem(169px);
		margin: 0 0 rem(20px) rem(20px);
	}
}

.portfolio__link {
	display: block;
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
  background: #fff;
	border-radius: 10px;

	&:hover {
		.portfolio__sait {
			h3{
				color: $red;
			}
		}
	}
}

.portfolio__img-pic {
	display: block;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.portfolio__desc {
	padding: rem(20px) 0 rem(18px) rem(20px);

	@include laptop {
		padding: rem(14px) 0 rem(14px) rem(14px);
	}

	@include tablets {
		padding: rem(14px) 0 rem(14px) rem(14px);
	}
}

.portfolio__sait {
	h3 {
		font-size: rem(21px);
		color: $blue;
		@include fira();
	}
}

.portfolio__text {
	p {
		font-size: rem(14px);
    margin: 0 0 rem(7px) 0;
		color: $grey;
		@include fira(light);
	}
}

.portfolio__type {
	font-size: rem(14px);
	color: #aeaeae;
	@include fira(medium);

	@include laptop {
		font-size: rem(12px);
	}

	@include tablets {
		font-size: rem(12px);
	}
}

.portfolio__type_icon {
  margin: 0 rem(3px) 0 0;
  font-size: rem(18px);

	@include laptop {
		font-size: rem(14px);
	}

	@include tablets {
		font-size: rem(12px);
	}
}