.sidebar {
	width: rem(220px);
	float: left;

	@include tablets {
		width: 100%;
		float: none;
		margin: 0 0 rem(22px) 0;
	}
}

.nav__item {
	@include tablets {
		display: inline-block;
		vertical-align: middle;
	}
}

.nav__link {
	display: block;
	text-align: right;
	font-size: rem(18px);
	color: $grey;
	padding: rem(10px) rem(25px) rem(10px) 0;
	border-right: rem(5px) solid transparent;
	@include fira();

	&:hover {
		color: $blue;
	}
}

.nav__link--active {
	border-color: $blue;
	color: $blue;
	@include fira(bold);

	@include tablets {
		border: 0;
	}
}

.nav__link .fa {
	margin: 0 rem(3px) 0 0;
}