.sidebar {
	width: 220px;
	float: left;
}

.nav__link {
	display: block;
	text-align: right;
	font-size: 18px;
	color: $grey;
	padding: 10px 25px 10px 0;
	border-right: 5px solid transparent;
	@include fira();

	&:hover {
		color: $blue;
	}
}

.nav__link--active {
	border-color: $blue;
	color: $blue;
	@include fira(bold);
}

.nav__link .fa {
	margin: 0 3px 0 0;
}