.greet {
  width: rem(300px);
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  @include border-radius(8px);
  @include transform(translate(-50%, -50%));
  @include box-shadow(0 1px 2px rgba(#000, .3));
  // margin: 0 auto; delete
}

.user__avatar--welcome {
  width: rem(140px);
  height: rem(140px);
  overflow: hidden;
  border: 1px solid #bebebe;
  margin: 0 auto;
  margin-bottom: rem(-80px);
  @include border-radius(50%);
  @include transform(translateY(-50%));
}

.user__avatar-img--welcome {
  width: 100%;
}

.user__username--welcome {
  color: #414141;
  width: rem(230px);
  margin:0 auto;
}

.user__username-text--welcome {
  font-size: rem(21px);
  padding: rem(18px) 0 rem(14px);
  @include fira();
}

.greet__btn {
  background: #33c1e3;
  @include border-radius(0 0 8px 8px);
}

.btn--welcome {
  padding: rem(20px) 0;
}

.btn__link--welcome {
  display: inline-block;
  font-size: rem(14px);
  color: #fff;
  border: 2px solid #fff;
  padding: rem(10px) rem(12px);
  @include fira(bold);
  @include border-radius(50px);
}

.btn__link--welcome:hover {
  background: #fff;
  color: #33c1e3;
}