@mixin box-shadow($shadow) {
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
}

@mixin border-radius($fifty) {
	border-radius: $fifty;
	-webkit-border-radius: $fifty;
	-moz-border-radius: $fifty;
}

@mixin transform($translate) {
	-webkit-transform: ($translate);
	-ms-transform: ($translate);
	transform: ($translate);
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin inlineblock($valign: top) {
	display: inline-block;
	vertical-align: $valign;
}

/*---------- responsive ----------*/
@function rem($px) {
	@return $px / 16px + 0rem;
}

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}