@mixin box-shadow($shadow) {
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
}

// @mixin border-radius($fifty) {
// 	border-radius: $fifty;
// 	-webkit-border-radius: $fifty;
// 	-moz-border-radius: $fifty;
// }

%clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin inlineblock($valign: top) {
	display: inline-block;
	vertical-align: $valign;
}