@media screen and (max-width: 1200px) { // desktop
	.container {
		width: 950px;
	}
}

@media screen and (max-width: 992px) { //laptop
	.container {
		width: 730px;
	}
}

@media screen and (max-width: 768px) { // tablets
	.container {
		width: 440px;
	}
}

@media screen and (max-width: 480px) { // phones
	.container {
		width: auto;
	}
}
